In [5]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import datasets, linear_model,preprocessing
from datetime import datetime
import gc
%matplotlib inline
from IPython.display import display, HTML
from pprint import pprint
import time
import nltk.corpus
from nltk.stem.snowball import SnowballStemmer
from ml_metrics import rmse,rmsle

In [6]:
#take 1 CSV, then split it to 3..
class FeatureEngineering:

    def __init__(self, ValidationStart, ValidationEnd, trainHdfPath, trainHdfFile, testHdfPath1, testHdfPath2, testHdfFile, 
                 testTypes, trainTypes, trainCsvPath, testCsvPath, maxLag=0):
        self.ValidationStart = ValidationStart
        self.ValidationEnd = ValidationEnd
        self.maxLag = maxLag
        self.trainHdfPath = trainHdfPath
        self.trainHdfFile = trainHdfFile
        self.testHdfPath1 = testHdfPath1
        self.testHdfPath2 = testHdfPath2
        self.testHdfFile = testHdfFile
        self.testTypes = testTypes
        self.trainTypes = trainTypes
        self.trainCsvPath = trainCsvPath
        self.testCsvPath = testCsvPath
        
    @staticmethod
    def __printDataFrameBasics__(data):
        display(data.head(2))
        #print data.dtypes
        gc.collect()
        print(data.info(memory_usage=True))
        
    @staticmethod    
    def changeIndexTypeToLowerMemory(data):
        ##########
        #This is very critical, i accept max number is 2^32. Also, if don't do that, memory gets so much higher..
        ##########
        #data.reset_index(inplace=True)
        #data.drop("index",axis=1, inplace=True)
        #data.index = data.index.astype('uint32')
        gc.collect()
        
    def ReadHdf(self, trainOrTestOrBoth):
        '''Reads and holds Df in object memory'''            
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train = pd.read_hdf(self.trainHdfPath,self.trainHdfFile)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.train)
            FeatureEngineering.__printDataFrameBasics__(self.train)
            
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            self.test1 = pd.read_hdf(self.testHdfPath1,self.testHdfFile)
            self.test2 = pd.read_hdf(self.testHdfPath2,self.testHdfFile)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test1)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test2)
            FeatureEngineering.__printDataFrameBasics__(self.test1)
            FeatureEngineering.__printDataFrameBasics__(self.test2)
        
    def ReadCsv(self, trainOrTestOrBoth):
        '''Reads and holds Df in memory'''
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth == 'both':
            self.train = pd.read_csv(self.trainCsvPath, usecols=self.trainTypes.keys(), dtype=self.trainTypes)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.train)
            FeatureEngineering.__printDataFrameBasics__(self.train)
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            tempTest = pd.read_csv(self.testCsvPath, usecols=self.testTypes.keys(), dtype=self.testTypes)
            self.test1 = tempTest.loc[tempTest.Semana.values == self.ValidationStart]
            self.test2 = tempTest.loc[tempTest.Semana.values == self.ValidationEnd]
            del tempTest
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test1)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test2)
            FeatureEngineering.__printDataFrameBasics__(self.test1)
            FeatureEngineering.__printDataFrameBasics__(self.test2)
            
    @staticmethod
    def ConvertCsvToHdf(csvPath, HdfPath, HdfName, ColumnTypeDict ):
        tempDf = pd.read_csv(csvPath, usecols=ColumnTypeDict.keys(), dtype=ColumnTypeDict,index=False)
        tempDf.to_hdf(HdfPath, HdfName, format='t')
        del tempDf
        gc.collect()
        print "ConvertCsvToHdf is done.."

    def Preprocess(self, trainOrTestOrBoth, columnFunctionTypeList):
        '''columnFunctionTypeList = [ ['C1',Func1,Type], ['C2',Func2,Type],..    ]'''
        for column, func, localType in columnFunctionTypeList:
            if trainOrTestOrBoth == 'train' or trainOrTestOrBoth =='both':
                self.train.loc[:,column] =  np.apply_along_axis(func,0,FE.train[column].values).astype(localType)
                #np.apply_along_axis(lambda x: x+1,0,FE.train["Semana"]).astype("int32")
            if trainOrTestOrBoth == 'test' or trainOrTestOrBoth == 'both':
                self.test1.loc[:,column] =  np.apply_along_axis(func,0,FE.test1[column].values).astype(localType)
                self.test2.loc[:,column] =  np.apply_along_axis(func,0,FE.test2[column].values).astype(localType)
        gc.collect()
        
    def SaveDataFrameToHdf(self,trainOrTestOrBoth):
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train.to_hdf(self.trainHdfPath, self.trainHdfFile, format='t', index="False")
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            self.test1.to_hdf(self.testHdfPath1, self.testHdfFile, format='t', index="False")
            self.test2.to_hdf(self.testHdfPath2, self.testHdfFile, format='t', index="False")
        
    def AddDemandaGeneralMean(self,trainOrTestOrBoth): 
        #self.train.loc[:,"DemandaGeneralMean"] = self.train["Demanda_uni_equil"].loc[
         #   self.train.loc[:,'Semana'] < 10].mean().astype("float32")
            
        meanOfDemanda = self.train["Demanda_uni_equil"].values.mean().astype("float32")
        
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train.loc[:,"DemandaGeneralMean"] = meanOfDemanda
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            self.test1.loc[:,"DemandaGeneralMean"] = meanOfDemanda
            self.test2.loc[:,"DemandaGeneralMean"] = meanOfDemanda
        
        #self.train.loc[:,"DemandaGeneralMean"] = self.train["Demanda_uni_equil"].values[
        #(self.train.loc[:,'Semana'].values < self.ValidationStart).values].mean().astype("float32")
        gc.collect()
        
    '''ConfigElements(0,[ ("A",["Semana","Agencia_ID"],["count","count"]),'''
    def AddConfigurableFeaturesToTrain(self, config):
        if config.lag > self.maxLag:
            self.maxLag = config.lag
        
        tempData = self.train[self.train['Semana'].values <= (self.ValidationEnd - config.lag)]
        #display(tempData)
        if(config.lag != 0):
            tempData.loc[:,'Semana'] = tempData['Semana'].values + config.lag
        #display(tempData)
        
        #Means iterative.. eliminate as long as np.nan exists..If there is already one, don't create, use the existing
        if config.targetVariable != "" and  config.targetVariable not in self.train.columns:
            self.train.loc[:,config.targetVariable] = np.nan
            self.test1.loc[:,config.targetVariable] = np.nan
            
            if config.lag != 1:
                self.test2.loc[:,config.targetVariable] = np.nan
        
        for name,groups,aggregate in config.nameAndGroups:
            if name not in self.train.columns:
                print "{} is not in columns..".format(name)            
                
                groupedDataframe = tempData[groups+['Demanda_uni_equil']].copy().groupby(groups).agg(aggregate[0])
                gc.collect()
                #groupedDataframe.columns = groupedDataframe.columns.droplevel(0)
                groupedDataframe.columns = [name]
                
                #This is means of the counts of the semana-columns tuples!..!!!
                #If no lag and mean, mean of the columns without semana!!..
                #If there is lag and count, count of the columns x weeks before
                #If there is lag and mean, mean of the columns x weeks before
                #if(config.lag == 0 and aggregate == "count"):
                if(len(aggregate)>1):
                    groupedDataframe.reset_index(inplace=True)
                    groupedDataframe.drop("Semana",axis=1, inplace=True)
                    groups = groups[1:]
                    groupedDataframe = groupedDataframe.groupby(groups).agg(aggregate[1])
                    groupedDataframe.columns = [name]
                    gc.collect()
                
                display(groupedDataframe.head(2))
                self.train = self.train.merge( groupedDataframe, left_on=groups,
                    right_index=True, how='left', sort=False,copy=False)
                gc.collect()
                self.test1 = self.test1.merge( groupedDataframe, left_on=groups,
                    right_index=True, how='left', sort=False,copy=False)
                gc.collect()
                if config.lag != 1:
                    self.test2 = self.test2.merge( groupedDataframe, left_on=groups,
                        right_index=True, how='left', sort=False,copy=False)
                
                del groupedDataframe
                gc.collect()
            else:
                print "{} is in columns..".format(name)
            
            display(self.train.head(2))
            display(self.test1.head(2))
            display(self.test2.head(2))
            
            #Means iterative..!!!!!
            if config.targetVariable != "":
                self.train.loc[pd.isnull(self.train[config.targetVariable].values), 
                    config.targetVariable] = self.train.loc[pd.isnull(self.train[config.targetVariable].values)
                    , name].values
                self.test1.loc[pd.isnull(self.test1[config.targetVariable].values), 
                    config.targetVariable] = self.test1.loc[pd.isnull(self.test1[config.targetVariable].values),
                    name].values
                if config.lag != 1:
                    self.test2.loc[pd.isnull(self.test2[config.targetVariable].values), 
                        config.targetVariable] = self.test2.loc[pd.isnull(self.test2[config.targetVariable].values)
                        , name].values
                    
                count = self.test1[config.targetVariable].isnull().sum()
                print "Count of missing numbers after {} in validation part 1 in column {} is {}".format(name, 
                    config.targetVariable,str(count))
                if config.lag != 1:
                    count = self.test2.loc[:,config.targetVariable].isnull().sum()
                    print "Count of missing numbers after {} in validation part 2 in column {} is {}".format(name, 
                        config.targetVariable,str(count))
                
                
                #display(self.train)
                #If column is already in Dataframe and we want to fill target variable, this deletes columns!!!
                if(config.deleteColumns):
                    self.train.drop(name, axis=1, inplace=True)
                    self.test1.drop(name, axis=1, inplace=True)
                    if config.lag != 1:
                        self.test2.drop(name, axis=1, inplace=True)
                gc.collect()
                #Only in tesst
                #if count == 0:
                 #   break
        del tempData
        display(self.train.head(2))
        display(self.test1.head(2))
        display(self.test2.head(2))
        gc.collect()
        return 
    
    def DeleteLaggedWeeksFromTrain(self):
        self.train = self.train[self.train['Semana'].values >= (3 + self.maxLag)]
        gc.collect()
        display(self.train.head(2))
        
    def ReadFirstNRowsOfACsv(self, nrows, trainOrTestOrBoth) :
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train = pd.read_csv(self.trainCsvPath, usecols=self.trainTypes.keys(), dtype=self.trainTypes, nrows = nrows)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.train)
            FeatureEngineering.__printDataFrameBasics__(self.train)
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            tempTest = pd.read_csv(self.testCsvPath, usecols=self.testTypes.keys(), dtype=self.testTypes, nrows = nrows*2)
            self.test1 = tempTest.loc[tempTest.Semana == self.ValidationStart]
            self.test2 = tempTest.loc[tempTest.Semana == self.ValidationEnd]
            del tempTest
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test1)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test2)
            FeatureEngineering.__printDataFrameBasics__(self.test1)
            FeatureEngineering.__printDataFrameBasics__(self.test2)
    
    #Use when concatanating train and validation before predict test for example..
    def AppendTestToTrain(self,deleteTest = True):
        self.train = self.train.append(self.test1,ignore_index=True)
        gc.collect()
        if(deleteTest):
            del self.test1
            gc.collect()
        try:
            self.train = self.train.append(self.test2,ignore_index=True)
            gc.collect()
            if(deleteTest):
                del self.test2
                gc.collect()
        except:
            pass
        #BAD PERFORMANCE!!
    #Split train data to train and test1 and test2 (validation)
    #def SplitTrainToTestUsingValidationStart(self):
     #   boolCondition = self.train.Semana == self.ValidationStart
      #  self.test1 = self.train.loc[boolCondition]
       # self.train.drop((self.train.loc[boolCondition].index), axis=0,inplace=True)
        
       # boolCondition = self.train.Semana == self.ValidationEnd
       # self.test2 = self.train.loc[boolCondition]
       # self.train.drop((self.train.loc[boolCondition].index), axis=0,inplace=True)
      #  del boolCondition
      #  gc.collect()
    
    #Reaches 3x memory from train, because of test1, test2 and train itself at the end.. GC fixed in the end..
    def SplitTrainToTestUsingValidationStart(self):
        boolCondition = self.train.Semana.values == self.ValidationStart
        self.test1 = self.train[boolCondition]
        boolCondition = self.train.Semana.values == self.ValidationEnd
        self.test2 = self.train[boolCondition]
        FE.train = FE.train[ FE.train.Semana.values < FE.ValidationStart ]
        del boolCondition
        gc.collect()

In [7]:
parameterDict =       {"ValidationStart":8, 
 "ValidationEnd":9,
   "maxLag":3,
    "trainHdfPath":'../../input/train.h5',
    "trainHdfFile":"train",
    "testHdfPath1":"../../input/test1.h5",
    "testHdfPath2":"../../input/test2.h5",
    "testHdfFile":"test", 
    "trainTypes" : {'Semana':np.uint8, 'Agencia_ID':np.uint16, 'Canal_ID':np.uint8,'Ruta_SAK':np.uint16, 
        'Cliente_ID':np.uint32, 'Producto_ID':np.uint16,'Venta_uni_hoy':np.uint16, 'Venta_hoy':np.float32,
                    'Dev_uni_proxima': np.uint32, 'Dev_proxima':np.float32,'Demanda_uni_equil':np.uint32}, 
    "testTypes" : {'id':np.uint32,'Semana':np.uint8, 'Agencia_ID':np.uint16, 'Canal_ID':np.uint8,'Ruta_SAK':np.uint16,
        'Cliente_ID':np.uint32, 'Producto_ID':np.uint16},
    "trainCsvPath":'../../input/train.csv'   ,
    "testCsvPath":'../../input/test.csv'}

FE = FeatureEngineering(**parameterDict)
print FE.__dict__

{'trainCsvPath': '../../input/train.csv', 'maxLag': 3, 'testTypes': {'Cliente_ID': <type 'numpy.uint32'>, 'Ruta_SAK': <type 'numpy.uint16'>, 'Canal_ID': <type 'numpy.uint8'>, 'Producto_ID': <type 'numpy.uint16'>, 'Agencia_ID': <type 'numpy.uint16'>, 'Semana': <type 'numpy.uint8'>, 'id': <type 'numpy.uint32'>}, 'testHdfFile': 'test', 'trainTypes': {'Dev_proxima': <type 'numpy.float32'>, 'Venta_uni_hoy': <type 'numpy.uint16'>, 'Cliente_ID': <type 'numpy.uint32'>, 'Demanda_uni_equil': <type 'numpy.uint32'>, 'Ruta_SAK': <type 'numpy.uint16'>, 'Canal_ID': <type 'numpy.uint8'>, 'Venta_hoy': <type 'numpy.float32'>, 'Producto_ID': <type 'numpy.uint16'>, 'Agencia_ID': <type 'numpy.uint16'>, 'Dev_uni_proxima': <type 'numpy.uint32'>, 'Semana': <type 'numpy.uint8'>}, 'testHdfPath1': '../../input/test1.h5', 'ValidationEnd': 9, 'testHdfPath2': '../../input/test2.h5', 'testCsvPath': '../../input/test.csv', 'ValidationStart': 8, 'trainHdfFile': 'train', 'trainHdfPath': '../../input/train.h5'}

In [8]:
FE.ReadHdf('both')

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52449630 entries, 0 to 52449629
Data columns (total 26 columns):
Semana                                          uint8
Agencia_ID                                      uint16
Canal_ID                                        uint8
Ruta_SAK                                        uint16
Cliente_ID                                      uint32
Producto_ID                                     uint16
Venta_uni_hoy                                   uint16
Venta_hoy                                       float32
Dev_uni_proxima                                 uint32
Dev_proxima                                     float32
Demanda_uni_equil                               uint32
DemandaNotEqualTheDifferenceOfVentaUniAndDev    bool
weight                                          uint16
pieces                                          uint8
Prod_name_ID                                    uint16
Brand_ID                                        uint8
Town_ID                                         uint16
State_ID                                        uint8
DemandaGeneralMean                              float32
Lag0                                            float64
Lag0Averaged                                    float64
Demanda_uni_equilLogged                         float64
Lag0AveragedLogged                              float64
Lag1                                            float64
Lag2                                            float64
Lag3                                            float64
dtypes: bool(1), float32(3), float64(7), uint16(7), uint32(3), uint8(5)
memory usage: 5.3 GB
None

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10193576 entries, 52449630 to 62643205
Data columns (total 26 columns):
Semana                                          uint8
Agencia_ID                                      uint16
Canal_ID                                        uint8
Ruta_SAK                                        uint16
Cliente_ID                                      uint32
Producto_ID                                     uint16
Venta_uni_hoy                                   uint16
Venta_hoy                                       float32
Dev_uni_proxima                                 uint32
Dev_proxima                                     float32
Demanda_uni_equil                               uint32
DemandaNotEqualTheDifferenceOfVentaUniAndDev    bool
weight                                          uint16
pieces                                          uint8
Prod_name_ID                                    uint16
Brand_ID                                        uint8
Town_ID                                         uint16
State_ID                                        uint8
DemandaGeneralMean                              float32
Lag0                                            float64
Lag0Averaged                                    float64
Demanda_uni_equilLogged                         float64
Lag0AveragedLogged                              float64
Lag1                                            float64
Lag2                                            float64
Lag3                                            float64
dtypes: bool(1), float32(3), float64(7), uint16(7), uint32(3), uint8(5)
memory usage: 1.0 GB
None

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Brand_ID,Town_ID,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,4,2008,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,4,2008,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10200437 entries, 62643206 to 72843642
Data columns (total 25 columns):
Semana                                          uint8
Agencia_ID                                      uint16
Canal_ID                                        uint8
Ruta_SAK                                        uint16
Cliente_ID                                      uint32
Producto_ID                                     uint16
Venta_uni_hoy                                   uint16
Venta_hoy                                       float32
Dev_uni_proxima                                 uint32
Dev_proxima                                     float32
Demanda_uni_equil                               uint32
DemandaNotEqualTheDifferenceOfVentaUniAndDev    bool
weight                                          uint16
pieces                                          uint8
Prod_name_ID                                    uint16
Brand_ID                                        uint8
Town_ID                                         uint16
State_ID                                        uint8
DemandaGeneralMean                              float32
Lag0                                            float64
Lag0Averaged                                    float64
Demanda_uni_equilLogged                         float64
Lag0AveragedLogged                              float64
Lag2                                            float64
Lag3                                            float64
dtypes: bool(1), float32(3), float64(6), uint16(7), uint32(3), uint8(5)
memory usage: 972.8 MB
None

## Convert to Log..

In [9]:
FE.train.loc[:,"Demanda_uni_equil"] = np.log1p (FE.train["Demanda_uni_equil"].values)

In [16]:
FE.test1.loc[:,"Demanda_uni_equil"] = np.log1p (FE.test1["Demanda_uni_equil"].values)
FE.test2.loc[:,"Demanda_uni_equil"] = np.log1p (FE.test2["Demanda_uni_equil"].values)

In [10]:
FE.train.head(2)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN

## Grouping for Lag0

In [11]:
class ConfigElements:
    def __init__(self, lag, nameAndGroups, targetVariable="", deleteColumns = False):
        self.lag = lag
        self.nameAndGroups = nameAndGroups
        #If there is target variable, then 5 4 3 2 1, fill the np.nans..Else hold them all in Dataframe..
        self.targetVariable = targetVariable
        self.deleteColumns = deleteColumns

In [12]:
configLag0Target1DeleteColumnsFalse = ConfigElements(0,[ ("SPClRACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClRA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPClRCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClR0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPClA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPClCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPCl0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPR0_mean",[
                                                              "Producto_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPA0_mean",[
                                                              "Producto_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPCh0_mean",[
                                                              "Producto_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPT0_mean",[
                                                              "Producto_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPSt0_mean",[
                                                              "Producto_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SP0_mean",[
                                                              "Producto_ID"],
                                                          ["mean"]),
                                                      ("SPnClRACh0_mean",[  ##PRODNAMES START
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClRA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPnClRCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClACh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClR0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPnClA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnClCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnCl0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPnR0_mean",[
                                                              "Prod_name_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPnA0_mean",[
                                                              "Prod_name_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnT0_mean",[
                                                              "Prod_name_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPnSt0_mean",[
                                                              "Prod_name_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SPn0_mean",[
                                                              "Prod_name_ID"],
                                                          ["mean"]),
                                                       ("SBClRACh0_mean",[ ##brand id START
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SBClRA0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SBClRCh0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SBClACh0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SBClR0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SBClA0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SBClCh0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SBCl0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SBR0_mean",[
                                                              "Brand_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SBA0_mean",[
                                                              "Brand_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SBCh0_mean",[
                                                              "Brand_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SBT0_mean",[
                                                              "Brand_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SBSt0_mean",[
                                                              "Brand_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SB0_mean",[
                                                              "Brand_ID"],
                                                          ["mean"])
                                                       
                                                       
                                                       ], "Lag0_log_meanonly", True)
print  configLag0Target1DeleteColumnsFalse.__dict__

{'nameAndGroups': [('SPClRACh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClRA0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPClRCh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPClACh0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClR0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPClA0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPClCh0_mean', ['Producto_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPCl0_mean', ['Producto_ID', 'Cliente_ID'], ['mean']), ('SPR0_mean', ['Producto_ID', 'Ruta_SAK'], ['mean']), ('SPA0_mean', ['Producto_ID', 'Agencia_ID'], ['mean']), ('SPCh0_mean', ['Producto_ID', 'Canal_ID'], ['mean']), ('SPT0_mean', ['Producto_ID', 'Town_ID'], ['mean']), ('SPSt0_mean', ['Producto_ID', 'State_ID'], ['mean']), ('SP0_mean', ['Producto_ID'], ['mean']), ('SPnClRACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClRA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPnClRCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPnClACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClR0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPnClA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPnClCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPnCl0_mean', ['Prod_name_ID', 'Cliente_ID'], ['mean']), ('SPnR0_mean', ['Prod_name_ID', 'Ruta_SAK'], ['mean']), ('SPnA0_mean', ['Prod_name_ID', 'Agencia_ID'], ['mean']), ('SPnCh0_mean', ['Prod_name_ID', 'Canal_ID'], ['mean']), ('SPnT0_mean', ['Prod_name_ID', 'Town_ID'], ['mean']), ('SPnSt0_mean', ['Prod_name_ID', 'State_ID'], ['mean']), ('SPn0_mean', ['Prod_name_ID'], ['mean']), ('SBClRACh0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SBClRA0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SBClRCh0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SBClACh0_mean', ['Brand_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SBClR0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SBClA0_mean', ['Brand_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SBClCh0_mean', ['Brand_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SBCl0_mean', ['Brand_ID', 'Cliente_ID'], ['mean']), ('SBR0_mean', ['Brand_ID', 'Ruta_SAK'], ['mean']), ('SBA0_mean', ['Brand_ID', 'Agencia_ID'], ['mean']), ('SBCh0_mean', ['Brand_ID', 'Canal_ID'], ['mean']), ('SBT0_mean', ['Brand_ID', 'Town_ID'], ['mean']), ('SBSt0_mean', ['Brand_ID', 'State_ID'], ['mean']), ('SB0_mean', ['Brand_ID'], ['mean'])], 'lag': 0, 'targetVariable': 'Lag0_log_meanonly', 'deleteColumns': True}

In [13]:
FE.AddConfigurableFeaturesToTrain(configLag0Target1DeleteColumnsFalse)

SPClRACh0_mean is not in columns..

                                                     SPClRACh0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
41          146030     3303     2281       7               4.186777
            681747     3306     2281       7               7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,NaN,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,NaN,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClRACh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,NaN,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,NaN,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPClRACh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,NaN,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,NaN,1.177221

Count of missing numbers after SPClRACh0_mean in validation part 1 in column Lag0_log_meanonly is 2008765
Count of missing numbers after SPClRACh0_mean in validation part 2 in column Lag0_log_meanonly is 2728164
SPClRA0_mean is not in columns..

                                            SPClRA0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID
41          146030     3303     2281            4.186777
            681747     3306     2281            7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClRA0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPClRA0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPClRA0_mean in validation part 1 in column Lag0_log_meanonly is 2008400
Count of missing numbers after SPClRA0_mean in validation part 2 in column Lag0_log_meanonly is 2727510
SPClRCh0_mean is not in columns..

                                          SPClRCh0_mean
Producto_ID Cliente_ID Ruta_SAK Canal_ID
41          146030     3303     7              4.186777
            681747     3306     7              7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClRCh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPClRCh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPClRCh0_mean in validation part 1 in column Lag0_log_meanonly is 2007825
Count of missing numbers after SPClRCh0_mean in validation part 2 in column Lag0_log_meanonly is 2726789
SPClACh0_mean is not in columns..

                                            SPClACh0_mean
Producto_ID Cliente_ID Agencia_ID Canal_ID
41          146030     2281       7              4.186777
            681747     2281       7              7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClACh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPClACh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPClACh0_mean in validation part 1 in column Lag0_log_meanonly is 1914973
Count of missing numbers after SPClACh0_mean in validation part 2 in column Lag0_log_meanonly is 2576300
SPClR0_mean is not in columns..

                                 SPClR0_mean
Producto_ID Cliente_ID Ruta_SAK
41          146030     3303         4.186777
            681747     3306         7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClR0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPClR0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPClR0_mean in validation part 1 in column Lag0_log_meanonly is 1914973
Count of missing numbers after SPClR0_mean in validation part 2 in column Lag0_log_meanonly is 2576300
SPClA0_mean is not in columns..

                                   SPClA0_mean
Producto_ID Cliente_ID Agencia_ID
41          146030     2281           4.186777
            681747     2281           7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClA0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPClA0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPClA0_mean in validation part 1 in column Lag0_log_meanonly is 1914699
Count of missing numbers after SPClA0_mean in validation part 2 in column Lag0_log_meanonly is 2571322
SPClCh0_mean is not in columns..

                                 SPClCh0_mean
Producto_ID Cliente_ID Canal_ID
41          146030     7             4.186777
            681747     7             7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPClCh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPClCh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPClCh0_mean in validation part 1 in column Lag0_log_meanonly is 1913356
Count of missing numbers after SPClCh0_mean in validation part 2 in column Lag0_log_meanonly is 2569564
SPCl0_mean is not in columns..

                        SPCl0_mean
Producto_ID Cliente_ID
41          146030        4.186777
            681747        7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPCl0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPCl0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPCl0_mean in validation part 1 in column Lag0_log_meanonly is 1912970
Count of missing numbers after SPCl0_mean in validation part 2 in column Lag0_log_meanonly is 2568823
SPR0_mean is not in columns..

                      SPR0_mean
Producto_ID Ruta_SAK
41          3201       2.861801
            3301       5.118889

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.582534
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.684037

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPR0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.582534
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.684037

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPR0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.582534
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.562517

Count of missing numbers after SPR0_mean in validation part 1 in column Lag0_log_meanonly is 37226
Count of missing numbers after SPR0_mean in validation part 2 in column Lag0_log_meanonly is 98314
SPA0_mean is not in columns..

                        SPA0_mean
Producto_ID Agencia_ID
41          1958         3.448278
            2278         5.118889

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.605463
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.435732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPA0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.605463
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.435732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPA0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.605463
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.700429

Count of missing numbers after SPA0_mean in validation part 1 in column Lag0_log_meanonly is 21985
Count of missing numbers after SPA0_mean in validation part 2 in column Lag0_log_meanonly is 73361
SPCh0_mean is not in columns..

                      SPCh0_mean
Producto_ID Canal_ID
41          7           4.840077
53          4           5.471244

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.535068
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.550339

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPCh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.535068
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.550339

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPCh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.535068
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.625240

Count of missing numbers after SPCh0_mean in validation part 1 in column Lag0_log_meanonly is 1088
Count of missing numbers after SPCh0_mean in validation part 2 in column Lag0_log_meanonly is 8203
SPT0_mean is not in columns..

                     SPT0_mean
Producto_ID Town_ID
41          2288      3.448278
            2381      5.617836

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.740636
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.555377

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPT0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.740636
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.555377

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPT0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.740636
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.810820

Count of missing numbers after SPT0_mean in validation part 1 in column Lag0_log_meanonly is 1046
Count of missing numbers after SPT0_mean in validation part 2 in column Lag0_log_meanonly is 8077
SPSt0_mean is not in columns..

                      SPSt0_mean
Producto_ID State_ID
41          22          4.949706
            25          3.448278

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.415965
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.287240

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPSt0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.415965
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.287240

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPSt0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.415965
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.620462

Count of missing numbers after SPSt0_mean in validation part 1 in column Lag0_log_meanonly is 1027
Count of missing numbers after SPSt0_mean in validation part 2 in column Lag0_log_meanonly is 7869
SP0_mean is not in columns..

             SP0_mean
Producto_ID
41           4.840077
53           5.471244

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SP0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.194791
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.223483

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SP0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.194791
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.223483

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SP0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.194791
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.267791

Count of missing numbers after SP0_mean in validation part 1 in column Lag0_log_meanonly is 953
Count of missing numbers after SP0_mean in validation part 2 in column Lag0_log_meanonly is 7584
SPnClRACh0_mean is not in columns..

                                                      SPnClRACh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
0            60         7238     2061       2                4.986742
             65         7250     2061       2                4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClRACh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnClRACh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPnClRACh0_mean in validation part 1 in column Lag0_log_meanonly is 634
Count of missing numbers after SPnClRACh0_mean in validation part 2 in column Lag0_log_meanonly is 6183
SPnClRA0_mean is not in columns..

                                             SPnClRA0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID
0            60         7238     2061             4.986742
             65         7250     2061             4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClRA0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnClRA0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPnClRA0_mean in validation part 1 in column Lag0_log_meanonly is 634
Count of missing numbers after SPnClRA0_mean in validation part 2 in column Lag0_log_meanonly is 6183
SPnClRCh0_mean is not in columns..

                                           SPnClRCh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Canal_ID
0            60         7238     2               4.986742
             65         7250     2               4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClRCh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnClRCh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPnClRCh0_mean in validation part 1 in column Lag0_log_meanonly is 634
Count of missing numbers after SPnClRCh0_mean in validation part 2 in column Lag0_log_meanonly is 6183
SPnClACh0_mean is not in columns..

                                             SPnClACh0_mean
Prod_name_ID Cliente_ID Agencia_ID Canal_ID
0            60         2061       2               4.986742
             65         2061       2               4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClACh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnClACh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPnClACh0_mean in validation part 1 in column Lag0_log_meanonly is 634
Count of missing numbers after SPnClACh0_mean in validation part 2 in column Lag0_log_meanonly is 6159
SPnClR0_mean is not in columns..

                                  SPnClR0_mean
Prod_name_ID Cliente_ID Ruta_SAK
0            60         7238          4.986742
             65         7250          4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClR0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnClR0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPnClR0_mean in validation part 1 in column Lag0_log_meanonly is 634
Count of missing numbers after SPnClR0_mean in validation part 2 in column Lag0_log_meanonly is 6159
SPnClA0_mean is not in columns..

                                    SPnClA0_mean
Prod_name_ID Cliente_ID Agencia_ID
0            60         2061            4.986742
             65         2061            4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClA0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnClA0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPnClA0_mean in validation part 1 in column Lag0_log_meanonly is 634
Count of missing numbers after SPnClA0_mean in validation part 2 in column Lag0_log_meanonly is 6159
SPnClCh0_mean is not in columns..

                                  SPnClCh0_mean
Prod_name_ID Cliente_ID Canal_ID
0            60         2              4.986742
             65         2              4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnClCh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnClCh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPnClCh0_mean in validation part 1 in column Lag0_log_meanonly is 634
Count of missing numbers after SPnClCh0_mean in validation part 2 in column Lag0_log_meanonly is 6159
SPnCl0_mean is not in columns..

                         SPnCl0_mean
Prod_name_ID Cliente_ID
0            60             4.986742
             65             4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnCl0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnCl0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.177221

Count of missing numbers after SPnCl0_mean in validation part 1 in column Lag0_log_meanonly is 634
Count of missing numbers after SPnCl0_mean in validation part 2 in column Lag0_log_meanonly is 6159
SPnR0_mean is not in columns..

                       SPnR0_mean
Prod_name_ID Ruta_SAK
0            1           4.077130
             2           3.983572

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.564910
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.709363

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnR0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.564910
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.709363

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnR0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.564910
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.562517

Count of missing numbers after SPnR0_mean in validation part 1 in column Lag0_log_meanonly is 41
Count of missing numbers after SPnR0_mean in validation part 2 in column Lag0_log_meanonly is 3922
SPnA0_mean is not in columns..

                         SPnA0_mean
Prod_name_ID Agencia_ID
0            1110          1.794961
             1114          3.626225

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.618481
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.447509

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnA0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.618481
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.447509

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnA0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.618481
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.700429

Count of missing numbers after SPnA0_mean in validation part 1 in column Lag0_log_meanonly is 40
Count of missing numbers after SPnA0_mean in validation part 2 in column Lag0_log_meanonly is 3918
SPnCh0_mean is not in columns..

                       SPnCh0_mean
Prod_name_ID Canal_ID
0            1            2.099511
             2            3.275020

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.515458
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.547207

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnCh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.515458
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.547207

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnCh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.515458
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.625150

Count of missing numbers after SPnCh0_mean in validation part 1 in column Lag0_log_meanonly is 9
Count of missing numbers after SPnCh0_mean in validation part 2 in column Lag0_log_meanonly is 3792
SPnT0_mean is not in columns..

                      SPnT0_mean
Prod_name_ID Town_ID
0            2008       1.794961
             2011       3.535864

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.629357
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.519899

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnT0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.629357
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.519899

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnT0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.629357
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.810820

Count of missing numbers after SPnT0_mean in validation part 1 in column Lag0_log_meanonly is 9
Count of missing numbers after SPnT0_mean in validation part 2 in column Lag0_log_meanonly is 3792
SPnSt0_mean is not in columns..

                       SPnSt0_mean
Prod_name_ID State_ID
0            0            3.309993
             1            2.580053

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.353367
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.233396

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPnSt0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.353367
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.233396

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPnSt0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.353367
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.620462

Count of missing numbers after SPnSt0_mean in validation part 1 in column Lag0_log_meanonly is 9
Count of missing numbers after SPnSt0_mean in validation part 2 in column Lag0_log_meanonly is 3792
SPn0_mean is not in columns..

              SPn0_mean
Prod_name_ID
0              3.059791
1              3.835229

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPn0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.184787
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.236429

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SPn0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.184787
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.236429

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SPn0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.184787
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.266114

Count of missing numbers after SPn0_mean in validation part 1 in column Lag0_log_meanonly is 9
Count of missing numbers after SPn0_mean in validation part 2 in column Lag0_log_meanonly is 3792
SBClRACh0_mean is not in columns..

                                                  SBClRACh0_mean
Brand_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
3        1697       3914     2095       11              0.693147
         2061       3916     2095       11              2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClRACh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.635044
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBClRACh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.635044
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.635044

Count of missing numbers after SBClRACh0_mean in validation part 1 in column Lag0_log_meanonly is 7
Count of missing numbers after SBClRACh0_mean in validation part 2 in column Lag0_log_meanonly is 817
SBClRA0_mean is not in columns..

                                         SBClRA0_mean
Brand_ID Cliente_ID Ruta_SAK Agencia_ID
3        1697       3914     2095            0.693147
         2061       3916     2095            2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClRA0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.635044
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBClRA0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.635044
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.635044

Count of missing numbers after SBClRA0_mean in validation part 1 in column Lag0_log_meanonly is 7
Count of missing numbers after SBClRA0_mean in validation part 2 in column Lag0_log_meanonly is 817
SBClRCh0_mean is not in columns..

                                       SBClRCh0_mean
Brand_ID Cliente_ID Ruta_SAK Canal_ID
3        1697       3914     11             0.693147
         2061       3916     11             2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClRCh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.635044
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBClRCh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.635044
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.635044

Count of missing numbers after SBClRCh0_mean in validation part 1 in column Lag0_log_meanonly is 7
Count of missing numbers after SBClRCh0_mean in validation part 2 in column Lag0_log_meanonly is 817
SBClACh0_mean is not in columns..

                                         SBClACh0_mean
Brand_ID Cliente_ID Agencia_ID Canal_ID
3        1697       2095       11             0.693147
         2061       2095       11             2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClACh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.635044
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBClACh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.635044
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.635044

Count of missing numbers after SBClACh0_mean in validation part 1 in column Lag0_log_meanonly is 7
Count of missing numbers after SBClACh0_mean in validation part 2 in column Lag0_log_meanonly is 721
SBClR0_mean is not in columns..

                              SBClR0_mean
Brand_ID Cliente_ID Ruta_SAK
3        1697       3914         0.693147
         2061       3916         2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClR0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.635044
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBClR0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.635044
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.635044

Count of missing numbers after SBClR0_mean in validation part 1 in column Lag0_log_meanonly is 7
Count of missing numbers after SBClR0_mean in validation part 2 in column Lag0_log_meanonly is 721
SBClA0_mean is not in columns..

                                SBClA0_mean
Brand_ID Cliente_ID Agencia_ID
3        1697       2095           0.693147
         2061       2095           2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClA0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.635044
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBClA0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.635044
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.635044

Count of missing numbers after SBClA0_mean in validation part 1 in column Lag0_log_meanonly is 6
Count of missing numbers after SBClA0_mean in validation part 2 in column Lag0_log_meanonly is 721
SBClCh0_mean is not in columns..

                              SBClCh0_mean
Brand_ID Cliente_ID Canal_ID
3        1697       11            0.693147
         2061       11            2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBClCh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.635044
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBClCh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.635044
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.635044

Count of missing numbers after SBClCh0_mean in validation part 1 in column Lag0_log_meanonly is 4
Count of missing numbers after SBClCh0_mean in validation part 2 in column Lag0_log_meanonly is 721
SBCl0_mean is not in columns..

                     SBCl0_mean
Brand_ID Cliente_ID
3        1697          0.693147
         2061          2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBCl0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.635044
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBCl0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.635044
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.635044

Count of missing numbers after SBCl0_mean in validation part 1 in column Lag0_log_meanonly is 4
Count of missing numbers after SBCl0_mean in validation part 2 in column Lag0_log_meanonly is 720
SBR0_mean is not in columns..

                   SBR0_mean
Brand_ID Ruta_SAK
3        3001       4.830271
         3002       4.795062

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,2.107004
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,2.107004

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBR0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,2.107004
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,2.107004

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBR0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,2.107004
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,2.107004

Count of missing numbers after SBR0_mean in validation part 1 in column Lag0_log_meanonly is 1
Count of missing numbers after SBR0_mean in validation part 2 in column Lag0_log_meanonly is 0
SBA0_mean is not in columns..

                     SBA0_mean
Brand_ID Agencia_ID
3        1110         1.390891
         1139         1.136344

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.991851
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.991851

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBA0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.991851
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.991851

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBA0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.991851
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.991851

Count of missing numbers after SBA0_mean in validation part 1 in column Lag0_log_meanonly is 0
Count of missing numbers after SBA0_mean in validation part 2 in column Lag0_log_meanonly is 0
SBCh0_mean is not in columns..

                   SBCh0_mean
Brand_ID Canal_ID
3        1           1.547920
         5           4.753014

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.982759
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.982759

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBCh0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.982759
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.982759

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBCh0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.982759
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.982759

Count of missing numbers after SBCh0_mean in validation part 1 in column Lag0_log_meanonly is 0
Count of missing numbers after SBCh0_mean in validation part 2 in column Lag0_log_meanonly is 0
SBT0_mean is not in columns..

                  SBT0_mean
Brand_ID Town_ID
3        2008      1.390891
         2010      1.166143

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.898671
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.898671

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBT0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.898671
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.898671

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBT0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.898671
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.898671

Count of missing numbers after SBT0_mean in validation part 1 in column Lag0_log_meanonly is 0
Count of missing numbers after SBT0_mean in validation part 2 in column Lag0_log_meanonly is 0
SBSt0_mean is not in columns..

                   SBSt0_mean
Brand_ID State_ID
3        0           4.477251
         1           4.700651

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.743934
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.743934

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SBSt0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.743934
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.743934

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SBSt0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.743934
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.743934

Count of missing numbers after SBSt0_mean in validation part 1 in column Lag0_log_meanonly is 0
Count of missing numbers after SBSt0_mean in validation part 2 in column Lag0_log_meanonly is 0
SB0_mean is not in columns..

          SB0_mean
Brand_ID
3         4.597360
4         1.598639

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SB0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831,1.598639
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221,1.598639

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly,SB0_mean
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831,1.598639
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221,1.598639

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly,SB0_mean
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831,1.598639
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221,1.598639

Count of missing numbers after SB0_mean in validation part 1 in column Lag0_log_meanonly is 0
Count of missing numbers after SB0_mean in validation part 2 in column Lag0_log_meanonly is 0

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,7.346896,12.0,2.0,1.386294,1.098612,NaN,NaN,NaN,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,7.346896,12.0,2.0,1.609438,1.098612,NaN,NaN,NaN,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag1,Lag2,Lag3,Lag0_log_meanonly
52449630,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,7.346896,12.0,2.0,1.609438,1.098612,5.864407,5.931034,5.0,1.595831
52449631,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,7.346896,12.0,2.0,1.791759,1.098612,2.000000,1.000000,3.0,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,DemandaGeneralMean,Lag0,Lag0Averaged,Demanda_uni_equilLogged,Lag0AveragedLogged,Lag2,Lag3,Lag0_log_meanonly
62643206,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,7.346896,12.0,2.0,0.693147,1.098612,5.864407,5.931034,1.595831
62643207,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,7.346896,12.0,2.0,1.098612,1.098612,2.000000,2.000000,1.177221

    Demanda_uni_equil       Lag0
0            1.386294   4.787492
1            1.609438   5.886104
2            1.609438   5.886104
3            1.609438   5.886104
4            1.386294   6.356108
5            1.791759   8.776476
6            1.386294   8.679312
7            1.945910   9.441452
8            1.609438   3.218876
9            1.945910   9.149316
10           2.197225  11.745037
11           1.609438   2.995732
12           2.564949   6.995766
13           2.079442  10.709963
14           2.397895   8.948976
15           1.791759  10.738134
16           1.386294   2.995732
17           1.386294   4.094345
18           2.197225   6.822197
19           2.564949   9.837348
20           2.197225   9.875088
21           1.609438   4.605170
22           1.791759   3.583519
23           2.944439  14.722195
24           2.944439  14.885406
25           2.995732  12.660328
26           2.564949  12.803909
27           0.693147   2.079442
28           2.197225  10.730685
29           1.386294   6.473891
30           3.663562  18.206664
31           2.564949  12.205708
32           1.098612   7.677864
33           1.609438   3.401197
34           2.708050  13.368504
35           0.693147   2.772589
36           1.098612   3.178054
37           1.098612   5.493061
38           1.386294   4.382027
39           0.693147   1.791759

In [28]:
FE.train.Lag0.values

array([ 4.78749174,  5.88610403,  5.88610403, ...,  4.39444915,
        4.39444915,  7.42714413])

In [26]:
FE.train.loc[:,"Lag0Exp"] = np.log1p( np.expm1(FE.train.Lag0.values)/5)

In [29]:
print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag0Exp))

('RMSLE Score:', 4.3788164672311503)

In [14]:
print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag0_log_meanonly))

('RMSLE Score:', 0.28609762887474588)

In [17]:
print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag0_log_meanonly))
print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag0_log_meanonly))

('RMSLE Score:', 0.4653949276468306)
('RMSLE Score:', 0.4768750922833197)

In [31]:
FE.train.loc[0,"Lag0"] = np.nan

In [33]:
print FE.train["Lag0"].isnull().sum()

1

In [34]:
FE.train[:5]

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,DemandaNotEqualTheDifferenceOfVentaUniAndDev,weight,pieces,Prod_name_ID,Brand_ID,Town_ID,State_ID,Lag0,Lag0Exp
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,False,120,2,709,4,2008,16,NaN,3.210844
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,False,135,2,712,4,2008,16,5.886104,4.287716
2,3,1110,7,3301,15766,1238,4,39.320000,0,0.0,1.609438,False,140,2,630,4,2008,16,5.886104,4.287716
3,3,1110,7,3301,15766,1240,4,33.520000,0,0.0,1.609438,False,125,4,480,4,2008,16,5.886104,4.287716
4,3,1110,7,3301,15766,1242,3,22.920000,0,0.0,1.386294,False,105,6,271,4,2008,16,6.356108,4.753590

In [42]:
FE.train["Lag0Divided"] = FE.train["Lag0"].loc[FE.train["Lag0"].notnull()]/5

In [43]:
FE.train[0:5]

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,DemandaNotEqualTheDifferenceOfVentaUniAndDev,weight,pieces,Prod_name_ID,Brand_ID,Town_ID,State_ID,Lag0,Lag0Exp,Lag0Divided
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,False,120,2,709,4,2008,16,NaN,3.210844,NaN
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,False,135,2,712,4,2008,16,5.886104,4.287716,1.177221
2,3,1110,7,3301,15766,1238,4,39.320000,0,0.0,...,False,140,2,630,4,2008,16,5.886104,4.287716,1.177221
3,3,1110,7,3301,15766,1240,4,33.520000,0,0.0,...,False,125,4,480,4,2008,16,5.886104,4.287716,1.177221
4,3,1110,7,3301,15766,1242,3,22.920000,0,0.0,...,False,105,6,271,4,2008,16,6.356108,4.753590,1.271222